:root {
    --container-padding: 1rem;
    --container-margin: 10px;
    --container-width: 95%;
    --container-bg-color: var(--tertiary-color);
}

.slider-container, .graph_demographic, .graph_map, .iframeMap {
    padding: var(--container-padding);
    margin: 0;
    width: var(--container-width);
}

.slider-container{
    box-sizing: border-box;
    background-color: var(--container-bg-color);
}

.slider-container h4, .slider-container div {
    margin: 0rem;
}

.slider-container h4 {
    font-weight: normal;
}

.slider-container div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.slider-container input[type="range"] {
    width: 100%;
}

.slider-container label {
    text-align: center;
    display: block;
}

.contentMap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    height: 90vh;
}

.graph_demographic, .graph_map, .iframeMap {
    height: 500px;
    border: none;
}

.contentMap .graph_demographic:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.contentMap .graph_demographic:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.map {
    display: flex;
}

.map .content, .map .contentMap {
    flex: 1;
    width: 100%;
}

.iframeMap {
    height: 85vh;
}

.contentMap iframe {
    width: 100%;
    height: 100%;
    border: none;
}

iframe {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin:10px;
    padding: 10px;
    background-color: var(--container-bg-color);
}
