/* App.module.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #1A1C2A;
    color: #ffffff;
}

:root {
    --primary-color: #30419B;
    --secondary-color: #028391;
    --tertiary-color: #222437;
    --quaternary-color: #FEAE6F;
}

.nav {
    background-color: var(--primary-color);
    padding: 15px 0;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0 20px;
}

.nav li {
    display: flex;
    flex: 1;  /* Add this line */
    justify-content: space-evenly;  /* Center the links */
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;  /* Center the text within the link */
}

.nav a:hover, .nav a.active {
    color: #007bff;
    text-decoration: underline;
}
